@use "@/styles/components/global.scss" as *;

.race-game-game-page {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 0px);
    // padding: 1rem;

    --top-position: 0px;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        // align-items: center;
        // background-color: rgb(160, 120, 73);
    }

    &.fullscreen {
        --top-position: 0px;
    }

    .background {
        // background-repeat: repeat;
        // opacity: 0.25;
        background-size: cover;
        object-fit: cover;
        // background-size: 500px;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // filter: blur(10px);
    }

    .canvas-three-wrap {
        border: 1px solid #000;
        background-color: white;
        margin-bottom: 3rem;
        position: absolute;
        left: 0;
        top: 0;
        height: calc(100vh - 50px - var(--top-position));
        width: 100%;

        canvas {
            height: 100%;
            width: 100%;
        }
    }

    .canvas-flat-wrap {
        position: relative;
        width: 100%;
        max-width: 1400px;

        canvas {
            position: absolute;
            left: 0;
            top: 0;
            // height: 500px;
            width: 100%;
            max-width: 1500px;
            margin: 0 auto;
            display: block;
            z-index: 1;
            border: 2px solid rgb(0 0 0 / 47%);
        }
    }

    canvas.fill {
        background-color: rgb(255 255 255 / 35%);
        position: initial !important;
    }

    .menu-card-wrapper {

        &.sidebar-enabled:not(.show-menu), &.sidebar-disabled:not(.show-menu) {
            @include media-breakpoint-down(lg) {
                .menu-card-backdrop, .menu-card {
                    display: none !important;
                }
                // display: none !important;
            }
        }

        .menu-card-backdrop {

            &.show-menu {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(5px);
                z-index: 2;
            }

        }

    }

    .menu-card {
        overflow-y: auto;

        @mixin mobile-menu-styles {
            display: flex;
            position: fixed;
            width: 100%;
            height: calc(100vh - 50px);
            // overflow-y: auto;
            top: var(--top-position);
            left: 50%;
            transition-duration: 200ms;
            z-index: 10;
            max-width: 400px;
            margin: 0 auto;
            transform: translateX(-50%) !important;
        }

        @include media-breakpoint-down(lg) {
            @include mobile-menu-styles;
        }

        &.sidebar-disabled.show-menu {
            @include media-breakpoint-up(lg) {
                @include mobile-menu-styles;
            }
        }

        &.sidebar-disabled.hide-menu {
            @include media-breakpoint-up(lg) {
                display: none !important;
            }
        }        

        &.show {
            transform: translateX(0%);
        }

        @include media-breakpoint-up(lg) {
            display: block;
            // position: fixed;
            // bottom: 0;
            // left: 0;
            top: 0px;
            width: 300px;
            min-width: 300px;
            font-size: 0.8rem;
            // height: calc(100vh - var(--top-position));
            height: calc(100vh - 50px);
        }

        .camera-controls {
            display: grid;
            grid-gap: 5px 5px;
            grid-template-columns: repeat(2, 1fr);
        }

    }

    .game-content {
        z-index: 1;

        // width: calc(100% - 300px);
        width: 100%;

        // position: absolute;
        // left: 0;
        // top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        height: calc(100vh - var(--top-position));

        @include media-breakpoint-up(lg) {
            height: calc(100vh - var(--top-position));
        }

        .lobby-screen {
            position: absolute;
            width: 100%;
            height: calc(100vh - var(--top-position) - 50px);
            top: 0px;
            // bottom: 50px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            z-index: 2;

            .lobby-screen-blur {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                backdrop-filter: blur(8px);
                bottom: 0px;
            }
        }

        .lobby-card {

            @include shadow-articles;
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
            margin-top: 1rem;

            @include media-breakpoint-up(lg) {
                margin-top: auto;
                margin-bottom: auto;
            }

            // position: absolute;
            // top: 1rem;
            // left: 1rem;
            // right: 1rem;

            // .dropdown-menu {
            //     transform: translate(0px, 39px)!important;
            //     border-radius: 0;
            //     width: 100%;
            //     border-bottom: 3px solid var(--articles-primary-color);

            //     .dropdown-item {
            //         padding: 0.375rem 1rem;

            //         &:active {
            //             color: black;
            //             background-color: var(--articles-secondary-color);
            //         }
            //     }
            // }
        }

        // .info-controls {
        //     position: fixed;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     // transform: translateX(-50%);
        //     display: flex;
        //     flex-direction: row;
        //     align-items: center;
        //     justify-content: space-between;
        //     height: 50px;
        //     padding: 0 0.5rem;

        //     @include media-breakpoint-up(lg) {
        //         position: absolute;
        //     }

        //     .timer {
        //         display: flex;
        //         align-items: center;
        //     }
        // }

        .lobby-card {
            z-index: 5;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .timer {
                background-color: var(--card-background);
                // width: 50px;
                // height: 50px;
                padding: 0.25rem 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                // background-color: white;
                // @include shadow-articles;
                // border: 2px solid #000;
            }

            .buttons {
                position: relative;
                display: flex;

                button {
                    @include shadow-articles;
                    // width: 50%;

                    // @include media-breakpoint-up(lg) {
                    //     width: initial;
                    // }
                }
            }
        }
    }

    .info-controls {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        // transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 0 0.5rem;
        z-index: 2;

        @include media-breakpoint-up(lg) {
            position: absolute;
        }

        .timer {
            display: flex;
            align-items: center;
        }
    }

    .room-play-move-buttons {

        .buttons {
            width: 300px;
            display: flex;
            flex-direction: column;

            button {
                padding: 0.5rem;
                font-size: 1.5rem !important;
            }
        }
    }
}