@use "@/styles/components/global.scss" as *;

.not-found-page {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: calc(100vh - 100px);

    .background-wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}