@use "@/styles/components/global.scss" as *;

.games-page {
    position: relative;
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

    padding-bottom: 50px;

    .sub-header {
        position: relative;
        height: 25vh;

        @include media-breakpoint-up(lg) {
            height: 30vh;
        }

        .background {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 0% 70%;
            }
        }

        .text {
            position: relative;
            z-index: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
        }

        .background-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 2;
        }
    }

    .background {
        // position: fixed;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100vh;
        // background: url(https://media.istockphoto.com/photos/retro-cyberpunk-style-80s-scifi-background-futuristic-with-laser-grid-picture-id1254037590?b=1&k=20&m=1254037590&s=170667a&w=0&h=T9NfhzTBENhSgmEuiSplmsq5XlkXOzPcv_kwkTKWP4g=);
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: bottom;
        // z-index: 0;

        img {
            // display: none;
            filter: blur(0px);
        }
    }

    .sub-header {
        position: relative;
        color: white !important;

        // background: linear-gradient(
        //     to top,
        //     rgba(var(--articles-primary-color-rgb), 0) 0%,
        //     rgba(var(--articles-secondary-color-rgb), 0.75) 100%
        // );

        background: none;

        background: rgba(0, 0, 0, 0.4);

        text-shadow: 0 0 7px #fff, 0 0 42px #0fa;

        // border-bottom: 1px solid #fff;
    }

    .filters-and-sorts-bar {
        position: sticky;
        top: 0px;
        left: 0;
        // height: 50px;
        padding: 0.5rem 0.5rem;
        width: 100%;
        // z-index: 2;
        z-index: 10;

        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: #17042a;
        margin-bottom: 1rem;
        border-top: 2px solid #0f677e;
        border-bottom: 2px solid #0f677e;
        box-shadow: 0 0 2px 2px #7e007b;


        @include media-breakpoint-up(lg) {
            // position: relative;
            // top: initial;
            // left: initial;
            // height: initial;
            
            // width: 100%;
            // z-index: 2;
            // padding: 1rem 0rem;
        }
    }

    .games-section {
        position: relative;
        max-width: 1200px;
        margin: 0rem auto;
        padding: 0rem 1rem;
        z-index: 1;

        .games .card,
        .card-extra {
            border: 1px solid cyan;
            border-radius: 0;
        }

        .games {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
            grid-gap: 10px 10px;

            @include media-breakpoint-up(lg) {
                grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
            }

            .game-item {
                // min-height: 150px;

                .card-game {
                    height: 100%;
                    border: 0px solid cyan;
                    border-radius: 0;
                    @include shadow-articles;

                    @include media-breakpoint-up(lg) {
                        min-height: 250px;
                    }

                    .card-header {
                        background-color: rgb(38 3 70);
                        border-radius: 0;
                        color: white;
                    }

                    .thumbnail-wrapper {

                        .icons-wrapper {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            z-index: 1;
                            margin: 0.2rem;
                            display: flex;
                        }

                    }

                    .card-body {

                        .ratio {
                            width: 100px;
                            // flex-basis: 100px;
                            // flex-shrink: 0;

                            @include media-breakpoint-up(lg) {
                                width: initial;
                            }
                        }
                    }
                }
            }
        }

        .card-extra {
            // min-height: 250px;
            margin-top: 10rem;
            @include shadow-articles;

            @include media-breakpoint-up(lg) {
                margin-top: 3rem;
            }

            .card-header {
                background-color: rgb(38 3 70);
                color: white;
            }
        }
    }
}