@use "./components/global.scss" as *;
@use "./components/buttons.scss" as *;
@use "./components/GameControllerKeyboard.scss" as *;

@use "./pages/carousel" as *;
@use "./pages/landing" as *;
@use "./pages/original" as *;
@use "./pages/game" as *;
@use "./pages/wall" as *;
@use "./pages/not-found" as *;

.road-rage-regular {
  font-family: "Road Rage", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

i {
    margin-right: 0.2rem;
}

input {
    width: 100%;
    font-size: 1.5rem !important;
}

button {
    font-size: 0.75rem !important;
}

.form-check.form-switch {
    margin-bottom: 0;

    label {
        margin-top: 0.25rem;
    }
}

.badge-hover {
    cursor: pointer;

    &.bg-danger {
        opacity: 0.8;
        transition-duration: 200ms;
        // background-color: blue!important;

        &:hover {
            opacity: 1;
            // background-color: green!important;
        }
    }
}

.local-only-content {
    background-color: rgba(127, 255, 212, 0.2);
}